@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("AddContent", "WriterContent", FormMethod.Post))
{
<div class="form-group">
    <input type="hidden" name="HeadingId" value="@ViewBag.value" />
    @Html.Label("Yorumunuz")
    @Html.TextAreaFor(x => x.ContentValue, 10,30, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ContentValue, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-success">Kaydet</button>
</div>
}

