
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profolim sayfası</p>
<p>#2 Sayfalama</p>
<p>#3 Mesajlarda session</p>
<p>#4 Oturum yönetimin mimariye taşınması</p>
<p>#5 Token kullanımı</p>
